# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pt

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data & outputs
data/
outputs/

# System
.DS_Store
Thumbs.db

# Ignore HuggingFace model folders completely
xlm-roberta-large-sinhala-multihead/
xlm-roberta-base_sinhala_multihead.pt

# (Optional) Ignore any local HF model directories
*.bin
*.json
*.pt

