# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pt

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data & outputs
data/
outputs/

# System
.DS_Store
Thumbs.db
